<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%- page.title ? page.title : 'Error' %> &laquo; zce.me</title>
  <style>
    body { margin: 0; background: #f8f9fb; }
    a { text-decoration: none; color: #789; }
    .title { margin: 0; color: #89a; font-size: 60vh; line-height: 100vh; text-align: center; }
    .copyright { position: absolute; left: 20px; bottom: 0; color: #789; font-weight: 300; }
    .heart { display: inline-block; color: #f03e3e; font-weight: normal; font-style: normal; animation: beat 0.4s ease-in-out infinite; }
    @keyframes beat { from, to { transform: scale3d(1, 1, 1); } 50% { transform: scale3d(1.4, 1.4, 1.4); } }
  </style>
</head>
<body>
  <h1 class="title"><%- page.code %></h1>
  <p class="copyright"><a href="https://github.com/zce">&lt;/&gt;</a> with <i class="heart">&hearts;</i> by <a href="https://zce.me">zce</a>, Hosted by <a href="https://pages.github.com">GitHub Pages</a></p>
</body>
</html>
