@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Againts';
  src: url('../assets/againts.eot?') format('eot'), url('../assets/againts.woff') format('woff'), url('../assets/againts.ttf') format('truetype'), url('../assets/againts.svg#Againts') format('svg');
}

.title,
.slogan {
  font-family: Againts;
  animation: fadeIn 2s both;
}

.title {
  margin: 0 0 1rem;
  color: #fff;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  font-size: 5rem;
  animation-delay: 0.25s;
}

.slogan {
  margin: 0 0 4rem;
  color: #eee;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  animation-delay: 0.5s;
}

