@import 'https://fonts.googleapis.com/css?family=Exo+2';

.navigation {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  animation: fadeIn 2s 0.75s both;
}

.navigation li + li::before {
  margin: 0.5rem;
  color: #aaa;
  content: '·';
}

.navigation a {
  color: #99e9f2;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  transition: color 0.5s, text-shadow 0.5s;
}

.navigation a:hover {
  color: #22b8cf;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.navigation a:focus {
  outline: 0;
  color: #3bc9db;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}
